<!DOCTYPE html>

<html>
  {%include head.html%}
  <body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">
      <section id="header" class="">
        {%include nav.html%}
      </section>

      <!-- Section -->
      <section class="wrapper style1" id="{{page.title}}">
        <div class="inner">
          <header class="major special">
            <h1>{{page.title}}</h1>
            <p>
             {{page.subtitle}}
            </p>
          </header>
          <div class="image main"><img src="{{page.banner_image}}" alt="" class="subpage-banner-image"/></div>
          {{content}}
      </section>
{%include footer.html%}
  </body>
</html>
